.feature-container{
    padding: 20px;
    border-bottom: 1px solid #f3c47d ;
}

.feature-projects{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}


.project-showcase{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}